<template name="about">
    <div id="about-wrapper" style="background-color: white;">
        <div id="tagline-wrapper" style="text-align: center; background-color: #CFE8FD">
            <div style="text-align: center; margin-bottom:20px">
                <img src="/favicon.ico" alt="" style="width: 40px; margin-right: 5px;"/>
            </div>
            <div id="tagline">A Better way to Share and
                Discover information about software
            </div>
        </div>
        <div id="mission-wrapper">
            <p>
                TechShare is created with the mission to make it easy for people to share and discover information about software
                technologies. With the explosion in the number of software technologies, it has become extremely hard to
                find the best resources available to learn about them. TechShare aims to solve this problem by creating an online
                community for people to share useful links about software they are interested in. Links can be tagged by the name of technology (java, oracle etc.)
                and categorized as type of resource (tutorial, video, book etc.). You can search links by tags and also bookmark them.
            </p>
            <p>For any comments or suggestions, please send us an email at
                <a href="mailto:techshare2016@gmail.com">techshare2016@gmail.com</a></p>
        </div>
    </div>
</template>
